.post-details-container {
  margin-top: 20px;
  border: 1px solid #cbbbbb;
  border-radius: 7px;
  padding: 10px 20px;
}

h1 {
  text-align: center;
}

p {
  font-size: 20px;
}
.date {
  color: #777;
  margin-top: 20px;
  font-size: 14px;
}
