/* NAVIGATION BAR */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background: rgb(0, 0, 0);
  border-bottom: 1px solid #ddd;
  margin-bottom: 5px;
  position: sticky;
  top: 0;
  z-index: 20;
  color: white;
}

.logo {
  font-weight: 700;
  font-size: 1.2rem;
}

.nav-links a {
  margin-left: 18px;
  text-decoration: none;
  font-size: 1rem;
  color: #ffffff;
}

.nav-links a:hover {
  color: #dae0e6;
}

.login-btn,
.logout-btn,
.add-btn {
  padding: 10px 20px;
  background: none;
  border: 1px solid white;
  border-radius: 7px;
  color: white;
  font-size: 15px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s;
  margin: 5px;
}

.add-btn {
  background-color: blue;
}

.add-btn:hover {
  background-color: rgb(6, 6, 114);
}

.login-btn:hover {
  background-color: rgb(16, 16, 16);
}

.logout-btn:hover {
  background-color: rgb(16, 16, 16);
}
/* HERO COVER IMAGE */
.hero {
  height: 500px;
  background-image: url("/accounting-poster.jpg");
  // background-size: contain;
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  display: flex;
  align-items: center;
  margin-bottom: 25px;
  position: relative;
}

.hero::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.35);
}

.overlay {
  position: relative;
  color: white;
  text-align: center;
  width: 100%;
  z-index: 2;
}

.overlay h1 {
  font-size: 2.4rem;
  margin-bottom: 8px;
}

.overlay p {
  font-size: 1.1rem;
}

.search-container {
  display: flex;
  justify-content: center;
  margin: 35px 0 20px 0;
}

.search-container input {
  width: 60%;
  padding: 12px 15px;
  border-radius: 30px;
  border: 1px solid #ccc;
  font-size: 1rem;
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
}

.search-container input:focus {
  border-color: #007bff;
}

/* MAIN CONTENT */
.posts-container {
  // max-width: 1150px;
  margin: auto;
  padding: 10px 25px;
}

.post-card {
  background: white;
  padding: 18px;
  border: 1px solid #ddd;
  border-radius: 12px;
  margin: 10px 20px 20px 20px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.06);
  cursor: pointer;
  transition: all 0.3s;
  // margin-left: 10px;
}

.post-card:hover {
  scale: 1.01;
}

.read-btn {
  text-decoration: none;
  color: #007bff;
  font-weight: 500;
}

.delete-btn {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: #fffcfc;
  color: white;
  border: none;
  padding: 6px 12px;
  margin-top: 28px;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.delete-btn img {
  width: 33px;
}
.delete-btn:hover {
  background-color: #f7f4f4;
}
